<div class="modal-header">
  <h4 class="modal-title">Features</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
    tabindex="-1"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row mt-1" *ngFor="let feature of featureFlags$ | async">
      <div class="col align-self-center">{{ feature.featureName }}</div>
      <div class="col-auto">
        <div
          class="btn-group btn-group-toggle"
          ngbRadioGroup
          name="radioBasic"
          [(ngModel)]="feature.enabled"
        >
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" [value]="true" tabindex="-1" /> Enabled
          </label>
          <label ngbButtonLabel class="btn-secondary">
            <input ngbButton type="radio" value="false" tabindex="-1" /> Disabled
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
