<div class="card">
  <div class="card-header text-center">
    Capital
  </div>
  <div class="card-body">
    <small>
      <b>Capital (CAP) definition:</b> A financial asset or the value of a financial asset, such as
      cash or goods. Working capital is calculated by taking your current assets subtracted from
      current liabilities—basically the money or assets an organization can put to work.
    </small>
    <h3 class="mt-3 text-success">Current capital: {{ 35001487 | currency }}</h3>
  </div>
  <div class="card-footer text-right" *appAccountingFeatureToggle="'capitalSeeDetails'">
    <button class="btn btn-link">
      See details
    </button>
  </div>
</div>
