<div class="container mt-3">
  <div class="row">
    <div class="col">
      <button class="btn btn-secondary btn-sm" (click)="openFeatureSettings()">
        <fa-icon [icon]="faCog"></fa-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col mt-3" *appAccountingFeatureToggle="'capital'">
      <app-capital-widget></app-capital-widget>
    </div>
    <div class="col mt-3" *appAccountingFeatureToggle="'netIncome'">
      <app-net-income-widget></app-net-income-widget>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <pre class="border rounded text-light bg-dark">{{ allFeatures$ | async | json }}</pre>
    </div>
  </div>
</div>
